body {
    margin: 0;
    padding: 0; 
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    width: 500px;
    height: 500px;
    background-color: red;
}

.cell {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
}

.empty {
    background-color: lightgray;
}

.ship {
    background-color: orange;
}

.hide {
    pointer-events: none;
    opacity: 0.2;
}


#turn {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    font-weight: 700;

}

#current-player {
    font-weight: 400;
}